*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .03em;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul, li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 68px;
}

.section {
  padding: 60px 0;
}

.section:nth-of-type(odd) {
  background-color: #e1deff;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 480px;
  background-size: auto 100%;
  background: url(../img/header/header_img.jpg) center center;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.logo-title {
  font-family: "Open sans", sans-serif;
  font-size: 45px;
  line-height: 1;
  letter-spacing: .2em;
}

.logo-subtitle {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: .2em;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: .05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after, .ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -40px;
}
.works-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}
.works-item {
  width: 30%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
  box-shadow: 0 0 4px 1px rgb(113 135 164 / 12%);
  background-color: #f2f1ff;
}

.works-item__header_01 {
  display: flex;
  flex-wrap: wrap;
}

.works-item__title_01 {
  padding: 1rem 1.5rem 0;
  font-size: 1.4rem;
  order: 1;
  margin-bottom: 0.6rem;
  font-weight: bold;
  text-decoration: none;
}

.works-item__image_01 {
  display: block;
  margin-bottom: 8px;
  height: 230px;
  left: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
}

.works-item__body_01 {
  padding: 0 1.5rem;
  min-height: 140px;
  min-width: 200px;
}

.works-item__text_01 {
  font-size: .8rem;
  text-align:center;
  text-decoration: none;
	padding-bottom: 0;
}

.works-item__text2_01 {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.works-item__text2_02 {
  font-size: .6rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.works-item__text_01 + .works-item__text_01 {
  margin-top: .5rem;
}

.works-item__footer_01 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-top: 1px solid #ddd;
}

.button_01 a {
  display: block;
  justify-content: space-between;
  text-align: center;
  margin: 5px 0;
  padding: 6px 2em;
  width: 150px;
  left: 50%;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  background-color: #b3aeff;
  border-radius: 50vh;
}

.button_01 a:hover {
	opacity: 0.6;
  text-decoration: none;
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 220px;
  margin-right: 40px;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.about-body {
  flex: 1;
}

/*--------------------------------
 Skill
---------------------------------*/
.inner {
  padding: 30px 15px;
}

.card-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: 46%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}


.skill-icon {
  flex-basis: 45px;
}

.skill-desc {
  flex-basis: calc(100% - 75px - 30px);
  text-align: center;
}

.skill-desc-title {
  margin-bottom: 3px;
  font-size:26px;
  padding: 24px;
  font-weight: bold;
}


table {
  margin-top: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th, table td {
  text-align: center;
  width: 25%;
  padding: 15px;
}

table td.icon.java{
  background-image: url(icon_Java.png)
}

.skill-title {
  margin-bottom: 3px;
}

.skill-section-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.7;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .hover-action {
    -webkit-transition: none;
    transition: none;
  }
  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .logo-title {
    font-size: 35px;
  }

  .logo-subtitle {
    font-size: 20px;
  }

  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 35px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 82px;
  }
  .section {
    padding: 60px 0;
  }
  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    height: 70vh;
  }

  /* グローバルナビ */
  .gnav {
    padding: 15px 0;
  }

  .gnav-item {
    font-size: 15px;
    padding: 2px 15px;
  }
  .gnav-link {
    padding: 0;
  }
  .gnav-link:hover {
    opacity: 1;
  }
  .gnav-link:after {
    display: none;
  }

  /* Works */
  .works-body {
    text-align: left;
  }
  .works-title {
    font-size: 15px;
  }
  .works-list {
    justify-content: space-between;
  }
  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* About */
  .about-item {
    display: block;
  }
  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  /* Skill */
  .card-wrapper {
    width: 100%;
  }

  .card {
    flex-basis: 100%;
  }

  .skill-desc {
    flex-basis: calc(100% - 45px - 10px);
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }
  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }
  .rate {
    font-size: 15px;
    height: 15px;
  }
  .rate:before, .rate:after {
    line-height: 15px;
    height: 15px;
  }
  .rate1:after {
    width: 15px;
  }
  .rate2:after {
    width: 35px;
  }
  .rate3:after {
    width: 55px;
  }
  .rate4:after {
    width: 75px;
  }
  .rate5:after {
    width: 95px;
  }

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}